<!DOCTYPE html>
<html lang="en" ng-app="mainApp">

<head>
  <script src="js/libs/html5shiv.min.js"></script>
  <meta charset="UTF-8">
  <title>整個台灣都是你的化工廠(beta) - 成份查詢</title>
  <meta property="og:image" content="http://azole.github.io/TCF/logo_s.png" />
  <meta name="description" content="提供屢觸食安風險的集團/品牌的產品查詢" />
  <link rel="icon" type="image/png" href="logo.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/libs/nga.all.min.css">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
</head>

<body ng-controller="mainCtrl">
  <div id="header">
    <div id="logo">
      <a href="/TCF/">
        <div id="logo_img"></div>
      </a>
    </div>
    <div id="nav">
      <div>製作：Azole, Cyril, Eden, Kate, Kylie</div>
      <a href="/TCF/">產品查詢</a>
      <a href="ingredient.html">添加物查詢</a>
      <a href="reference.html">資料來源</a>
      <a href="QA.html">QA</a>
    </div>
    <div class="clear"></div>
    <div class="warning">本網站僅提供查詢，購買與否請自行判斷。</div>
    <div class="warning">長期關注自己吃進去了什麼，比短期抵制更好喔。</div>
  </div>

  <div id="query">
    快速過濾：
    <button class="ng-cloak filter" ng-repeat="f in filterBtns" ng-click="setQuery(f.name)">{{f.name}}</button>
    <br/>關鍵字過濾：
    <input type="text" ng-model="query" value="" placeholder="關鍵字：...">
  </div>
  <div id="container">
    <div>資料來源：<a href="http://law.moj.gov.tw/LawClass/LawContent.aspx?pcode=L0040084" target="_blank">食品添加物使用範圍及限量暨規格標準</a></div>
    <table class="table table-hover table-condensed">
      <tr>
        <td>名稱</td>
        <td>種類</td>
        <td>說明</td>
      </tr>
      <tr ng-repeat="d in dataObj | filter:query">
        <td class="ingred-name">{{d.name}}</td>
        <td class="ingred-type">{{d.type}}</td>
        <td>{{d.ename}} {{d.intro}}</td>
      </tr>
    </table>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.min.js"></script>
  <script src="js/ingredientCtrl.js"></script>
</body>

</html>
